body, html {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  /*font-family: "Oswald", sans-serif;*/
}

.font-oswald{
  font-family: "Oswald", sans-serif;
}

section {
  padding: 60px 20px;
  width: 90%;
  margin: auto;
  text-align: justify;
  
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);

}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/* hero */
img{
  width: 100%;
  display: flex;
}

h1{
  font-size: 30px;
  background: #ffffff;
}

p{
  font-size: 16px;
  line-height: 160%;
}

header{
  display: flex;
  height: 100vh;
  align-items: center;
  padding-top: 100px;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  background: #000000;

}

header .left{
  max-width: 50%;
}

header .right{
  position: absolute;
  bottom: 0;
  right: 0;

}

header .right img{
  height: 600px;
  object-fit: cover;
}


